body {
    background-image: url(/imgs/jiujitsu_matrix_72.png);
    background-size: contain;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.mybox {
    background-color: white;
/*    opacity: 0.75;*/
}

.mybox1 {
    background-color: white;
    opacity: 0.75;
    min-height: 54px;
    margin: 9px;
    padding: 9px;
    border-radius: 6px;
}

.mybox2 {
    background-color: lightgray;
    min-height: 54px;
}

/* Modify the background color */
  
.navbar-custom {
    background-color: white;
}
/* Modify brand and text color */
  
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}

icon-bar {
    background-color: black;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
/*@media screen and (min-width: 601px) {*/
/*    .mybox1 {*/
/*        font-size:1.5vw;*/
/*  }*/
/*}*/
/**/
/*/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */*/
/*@media screen and (max-width: 600px) {*/
/*  */
/*  .mybox1 {*/
/*      font-size:5vw;*/
/*  }*/
/*}*/

